*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: #527a7a;/* fondo encabezado*/
    height: 100px;
    width: 100%;
    position: fixed;/*99999999999999999*/
}
.enlace{
    position: absolute;
    padding: 20px 70px;
}
.logo{
    font-weight: 500;
    margin: 4px;
    width:130%;
    height: 75px; /*tam de logo*/
}
nav ul{
    float: right;
    margin-right: 30px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color:  whitesmoke;/*color de la letra*/
    font-size: 20px;
    font-family: germain ;
    padding:8px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
li a.active, li a:hover{
    background: #808080;/*color de transition*/
    transition: .5s;
}
.checkbtn{
    font-size: 50px;
    color: ghostwhite;/*color de menu*/
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*---------*/
.main{
    padding-top: 6rem;
}
html{
    /*padding: 0px;*/
    background-color: #d0e1e1;
    font-family: georgia,serif;
    font-size: 1.5rem;
    line-height: 1.6em;
    text-align: justify;
}
h1{
    font-size: 2rem;
    text-align: center;
    line-height: 1.3em;
    color: #404040;
    font-family: cursive;
    padding: 1.5%;
    background-color: #d0e1e1;
}

hr.bottom {
    margin-bottom: 1.4em;
    border-top: 1px solid #3c5d5d;
    width: 100%;
    padding: 0.8em;
    border: 1;

    
}

.container{
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
}

p{
    margin-bottom: 1.6em;
}


.center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.estilo{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: #ccffff;*/
    padding: 2%;
} 

.enlaces {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3%;

}
/*--------------------------------*/
.tablas{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    grid-template-rows: minmax(100px auto);
}   

.tablas div{
    /*background: #e6e6e6;*/
    padding:0px;
    text-align: center;
}
div.tablas img{
    width: 100%; 
    height: auto;
    padding: 0px;
}
    
.tablas div:hover{
    /*border: 1px solid #888844;*/
}
div.pie{
    font-family: initial;, sans-serif;
    text-align: center;
    color: #3d5c5c;
    padding: 13px;
    font-size: 0.8em;
    text-align: justify;
}
div.pie :hover{
    
    text-decoration: underline;
}
/*----------*/

footer{
    
    background: #5c8a8a;
    padding: 3.5rem 0;
    text-align: center;
    margin-top: 6rem;
    align-items: center;
}

footer p a{
    color: #e0ebeb;
}



/*
section{
    background-image: url("fondo111.jpg");
    background-size:100%;
    background-size: cover;
    /*background: url(catdog.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);*/

}
*/
@media (max-width: 952px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #f1f1f1E6;/*fondo deslis de de menu*/
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        
    }
    nav ul li a{
        font-size: 20px;
        color: #000000;
    }
    li a:hover, li a.active{
        background: none;
        color: whitesmoke;/*color de menu*/
    }
    #check:checked ~ ul{
        left:0;
    }

    /*+----*/

    footer{
    
    padding: 1rem 0;
    text-align: center;
    margin-top: 1%;
    align-items: center;
    }
}


